$navbar-default-bg: black;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
	float: left;
	fond-size: 1.7em;
	color: #fff;
	letter-spacing: -1px;
	font-weight: bold;
}

.center {
	text-align: center;
}

.jumbotron {
	#background-image: asset-url('background.png');
	background-size: cover;
	height: 550px;
}

.jumbotron h1 {
	color: #000000;
	text-align: center;
	margin-bottom: 30px;
	letter-spacing: -1px;
	font-weight: bold;
}

.article-actions {
	border-top: 1px solid #eaeaea;
	padding-top: 5px;
}

.article-title {
	font-weight: bold;
	font-size: 1.5em;
}

.article-body {
	border-top: 1px solid #eaeaea;
	padding-top: 15px;
	padding-bottom: 15px;
}

.article-meta-details {
	border-top: 1px solid #eaeaea;
	margin-top: 15px;

}

.listing {
	list-style: none;
	padding-left: 0;
}

.description {
	margin-top: 0;
}

footer {
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid #eaeaea;
	color: #777;

}